<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCjkicCuhhmRzYgq1HDK0nw0XbQZ8dxhYc</string>
	<key>GCM_SENDER_ID</key>
	<string>1069697299102</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.frontend.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>rockscissorpaper-c1220</string>
	<key>STORAGE_BUCKET</key>
	<string>rockscissorpaper-c1220.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1069697299102:ios:f051823cbb62ea6fbb818f</string>
</dict>
</plist>